<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.weeklysummary.plist</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>6</integer>
      <key>Hour</key>
      <integer>23</integer>
      <key>Minute</key>
      <integer>59</integer>
    </dict>
    <key>Program</key>
    <string>/Users/elie/programming/projects/daemons/weekly-summary/Build/Products/Debug/weekly-summary</string>
  </dict>
</plist>
